@import '../../../core/scss/ant.scss';

.stat-section-header {
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  color: #4f4a49;
  margin-bottom: 6rem;
}

.cards-title {
  text-transform: uppercase;
  font-weight: 500;
  color: #4f4e4e;
}

.stats-number {
  font-size: 6.5em;
}

.stats-indications {
  font-size: 2em;
}

.stats-searcher {
  font-size: 1.5em;
}

.player-name {
  text-align: center;
  font-size: 3em;
  font-weight: 300;
}

.stats-card {
  @include media-breakpoint-down('xs') {
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
}
