<article>
  <h2 class="player-name-header">Player: {{ playerName }}</h2>

  <div class="round-actions" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-form-field class="move-selector">
      <mat-select
        placeholder="Select Move"
        [(ngModel)]="selectedMove"
        name="selected-move"
      >
        <mat-option
          *ngFor="let move of (playerMoves | keys)"
          [value]="move.key"
        >
          {{ move.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      class="next-button"
      mat-flat-button
      color="accent"
      (click)="selectMove()"
    >
      Next
    </button>
  </div>
</article>
