.game-over-section {
  min-height: 80vh;
}

.game-over-header {
  font-size: 4em;
  font-weight: 500;
}

.winner-header {
  font-size: 3em;
  font-weight: 500;
}

.play-again-button {
  width: fit-content;
  align-self: center;
  margin-bottom: 5rem;
}
